In [19]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [20]:
creditCardData = pd.read_csv("/content/creditcard.csv")
creditCardData.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [21]:
creditCardData.info()
creditCardData.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [22]:
#distribution of legit and fraudulent transactions
creditCardData['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [23]:
#storing legit and fraudulent transactions independently
legit = creditCardData[creditCardData.Class == 0]
fraud = creditCardData[creditCardData.Class == 1]

print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [24]:
print(legit.Amount.describe())
print()
print(fraud.Amount.describe())

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [25]:
creditCardData.loc[:,creditCardData.columns != 'Time'].groupby('Class').mean()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,0.009824,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,-5.676883,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [28]:
# Under-Sampling
legit_sample = legit.sample(n=492)

#concatenating legit_sample and fraud
new_dataset = pd.concat([legit_sample,fraud],axis=0)

print(new_dataset.head())
print()
print(new_dataset.tail())

           Time        V1        V2        V3        V4        V5        V6  \
131900  79779.0 -0.623832  1.142780  1.134903 -0.024835  0.070246 -0.573939
27528   34588.0 -1.204230  0.386101  1.947637 -0.768038 -0.824579 -0.169750
66501   52083.0 -1.673023  0.305561 -0.043724 -1.951658  1.232124  3.796915
138663  82782.0 -0.620461 -0.511409  1.303854 -1.908868  0.011517  1.340688
61163   49692.0  0.879106 -0.740370  1.111521  0.079506 -0.644654  1.403329

              V7        V8        V9  ...       V21       V22       V23  \
131900  0.521752  0.149933 -0.008248  ... -0.283240 -0.704592  0.035043
27528  -0.176936  0.565732  0.429387  ... -0.065073 -0.075901  0.158637
66501  -0.980517  1.926533  0.224520  ... -0.095980 -0.642365 -0.080203
138663 -0.184206  0.476096 -3.249269  ... -0.238336 -0.411745  0.170625
61163  -0.929621  0.601266  1.040340  ...  0.063512  0.377299  0.169279

             V24       V25       V26       V27       V28  Amount  Class
131900 -0.015892 -0.227357  0.110833  0.364037  0.150775    3.87      0
27528   0.484543 -0.111916  0.785785 -0.250677 -0.083637   37.73      0
66501   1.068627  0.034547  0.784389 -0.332448 -0.109544   57.10      0
138663 -1.092847 -0.157499 -0.204471  0.101484  0.049686   68.21      0
61163  -0.556172 -0.269915  1.091660  0.025466  0.016488   74.95      0

[5 rows x 31 columns]

            Time        V1        V2        V3        V4        V5        V6  \
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V21       V22       V23  \
279863 -0.882850  0.697211 -2.064945  ...  0.778584 -0.319189  0.639419
280143 -1.413170  0.248525 -1.127396  ...  0.370612  0.028234 -0.145640
280149 -2.234739  1.210158 -0.652250  ...  0.751826  0.834108  0.190944
281144 -2.208002  1.058733 -1.632333  ...  0.583276 -0.269209 -0.456108
281674  0.223050 -0.068384  0.577829  ... -0.164350 -0.295135 -0.072173

             V24       V25       V26       V27       V28  Amount  Class
279863 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00      1
280143 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76      1
280149  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89      1
281144 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00      1
281674 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53      1

[5 rows x 31 columns]

In [30]:
new_dataset['Class'].value_counts()
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,98098.884146,0.188705,0.058734,0.057946,0.102705,-0.028208,0.003159,0.087036,0.033764,-0.047296,...,-0.011063,0.031971,0.022532,0.058690,-0.00933,-0.054784,0.012029,0.018791,0.000636,85.499939
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

In [31]:
# Splitting data into features and targets

X = new_dataset.drop('Class',axis=1) #axis = 0 is row and axis = 1 is column
y = new_dataset['Class']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,stratify=y, random_state = 2)

In [ ]:
# Logistic Regression Model
model = LogisticRegression()

model.fit(X_train,y_train)

In [35]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,y_train)
print(training_data_accuracy)

0.9555273189326556

In [36]:
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction,y_test)
print(testing_data_accuracy)

0.9187817258883249

In [37]:
import pickle

with open('credit_card_fraud_detection_model.pkl','wb') as f:
  pickle.dump(model,f)